/*Primer cambio*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(232, 248, 245)
}


.bloque_principal {
    background-image: url(background.jpg);
    padding: 80px;
    background-position: left;
    margin-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.t_principal {
    color:black;
    font-size: 38px;
    font-weight: bold;
}

.titulos {
    text-decoration: underline;
    background-color: black;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}

.parrafos {
    color: black;
    line-height: 1.5;
    max-width: 90%;
    margin: auto;
    font-size: 20px;
    font-style: italic;
}

.tabla {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.pie {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    width: 100%;
}

img {
    max-width: 15%;
    height: auto;
    margin: 2px auto;
    display: block;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.diseño {
    color: beige;
    font-size: 20px;
}

.last_text {
    font-size: 20px;
}

.user {
    width: 90%;
    max-width: 400px;
    padding: 10px;
}

.boton {
    width: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #666;
    color: white;
    border: none;
    cursor: pointer;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen_boton {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        text-align: center;
    }

    .tabla {
        font-size: 14px;
    }

    .user {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .tabla {
        font-size: 12px;
    }

    .user {
        width: 100%;
    }

    .imagen_boton {
        width: 30px;
        height: 30px;
    }
}