body {
    font-family: Arial, sans-serif;
    background-color: rgb(232, 248, 245);
}

.bloque_principal {
    background-image: url(background.jpg);
    padding: 80px;
    background-position: left;
    margin-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.t_principal {
    color: black;
    font-size: 38px;
    font-weight: bold;
}

.titulos {
    text-decoration: underline;
    background-color: black;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}

.parrafos {
    color: black;
    line-height: 1.5;
    font-size: 20px;
    font-style: italic;
}

.pie {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 15%;
    height: auto;
    margin: 2px auto;
    display: block;
}

.diseño {
    color: beige;
    font-size: 20px;
}

.user {
    max-width: 400px;
    padding: 10px;
}

.imagen_boton {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
